bokeh==0.13.0
dask==0.19.1
dask-kubernetes==0.5.0
distributed==1.23.1
numpy==1.15.1
pandas==0.23.4
psutil==5.4.7
pyarrow==0.10.0
s3fs==0.1.6
gcsfs==0.1.2
fastparquet==0.1.6
dask-ml==0.10.0
joblib==0.12.5
scikit-learn==0.20.0
